@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
margin:0px;
padding: 0px;
}
:root{
--background-color: #ffffff;
--primary-color: #a62121;
--transparent-color: rgba(0,0,0,0);
}
 body {
           
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            font-size: 3em;
        }
a{
cursor: pointer;
}

.top-head{
top: 0;
left: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 90px;
width: 100%;
/*box-shadow: 0px 2px 50px #dbdbdb;*/
z-index: 999;
background-color: var(--background-color);
}
.container-fluid a img {
height: 100%;

}
.left-side-top-head{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 30px;
min-width: 430px;
}
.container-fluid{
margin-top: 30px;
padding: 0;
/*box-shadow: 3px 10px 10px #000000;*/
height: 120px;
overflow: hidden;
border-radius: 0 0 10px 10px;
}
.container-fluid a{
padding: 0;
}

.select-loc{
margin: 40px;
overflow: hidden;
cursor: pointer;
}
.sel-loc-head{
font-weight: bold;
font-size: 1.3em;
}
.location-show-select{
display: flex;
flex-direction: row;
align-items: center;
padding-top: 10px;
font-size: 0.9em;
}

.locat-p{
  width: auto;
  max-width: 200px;
  overflow: hidden;
  text-wrap: nowrap;
}
.footer-copyright{
  opacity: 0.5; 
  font-size: 1wv; 
  margin: auto;
}
.footer-copyright p {
  border-top: 1px solid #fff;
}

.location-show-select span{
border: none;
outline: none;
margin: 0 7px 0 7px;
}
.right-side-top-head{
display: flex;
flex-direction: row;
align-items: center;
min-width: 250px;
margin-right: 25px;
}
.thr-btn{
padding: 10px;
margin: 2px;
font-size: 1.25em;
border: none;
outline: none;
background-color: var(--transparent-color);
cursor: pointer;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: nowrap;
justify-content: space-between;
border-radius: 50px;
}
.right-side-top-head a{
padding: 5px;
margin: 5px;
cursor: pointer;
}
.right-side-top-head a:hover{
text-decoration: underline;
}
.sr-th-ico{
display: none;
}
.cart-btn{
padding: 7px 10px;
background-color: var(--primary-color);
color:#ffffff;
border-radius: 50px;
}
.cart-btn:hover{
background-color: var(--primary-color);
color:#ffffff;
}
.cart-btn span{
margin-left: 5px;
}
.th-search{
width: 700px;
margin: 0 70px 0 20px;
align-self: center;
}
.search{
background-color: #ffffff;
padding: 10px 0;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: nowrap;
width: 100%;
/*overflow: hidden;*/
}

.search svg{
margin: 15px;
}
.search-animated-placeholder{
height: 40px;
display: flex;
flex-direction: row;
align-items: flex-start;
}
.adv-submit-btn{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.advance-search{
background-color: rgba(0,0,0,0);
color: var(--primary-color);
font-weight: bold;
border: none;
outline: none;
text-decoration: underline;
cursor:pointer;
}
.text-carousel{
margin-left: 5px;
}
.stat-search-ani-txt{
padding: 10px 0;
}
.text-carousel p{
position: relative;
height: 30px;
top: 0px;
animation: 15s infinite searnimation;
}
.hero-landing{
width: 100%;
height: auto;
background-image: url("../assets/images/hero-background.jpg");
background-size: cover;
background-position: center;
background-repeat: norepeat;
padding: 100px 0px 0px 0px;
display: flex;
flex-direction: column;

}

.hl1{
font-weight: bold;
color: var(--background-color);
font-size: 1.5em;
position: relative;
margin-left: 100px;
}
.hl1 h1{
margin-bottom: 20px; 
font-size: 5em;
}
@keyframes searnimation {
0%{
top: 0px;
}
9%{
top: -20px;
}
18%{
top: -50px;
}
27%{
top: -80px;
}
36%{
top: -110px;
}
45%{
top: -140px;
}
54%{
top: -170px;
}
63%{
top: -200px;
}
72%{
top: -230px;
}
81%{
top: -260px;
}
90%{
top: -290px;
}
100%{
top: -300px;
}
}
.navbar-brand{
background-image: url("../assets/images/logo.png");
background-size: cover;
display: block;
width: 120px;
height: 120px;
}
footer{
display: flex;
flex-direction: column;
align-items: center;
border-top: solid 2px var(--background-color);
}
.footer{
background-color: var(--primary-color);
color: var(--background-color);
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;;
width: 100%;
padding: 20px 0;
}
.footer-links{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0 30px;
}
.footer-links-child{
margin: 20px 40px;
}
.footer-links-child ul{
list-style: none;
}
.footer-links-child ul li{
margin: 10px;
}
.footer-message{
width: 100%;
background-color: var(--primary-color);
}
.footer-message img{
width: 100%;
}
.footer-newsletter{
background-color: rgba(255,255,255,0.5);
border-radius: 20px;
padding: 20px;
width: 350px;
margin: 20px;
}
.footer-newsletter form{
display: flex;

margin: 10px 0;
}
.footer-newsletter form input{
border-radius: 5px;
padding: 10px;
outline: none;
border: none;
}
.footer-newsletter form button{
border-radius: 50px;
border: none;
outline: none;
padding: 10px;
font-weight: bold;
margin: 0 5px;
background-color: var(--primary-color);
color: var(--background-color);
}
.footer-newsletter p{
font-size: 0.7em;
}
.footer-newsletter p a{
color: var(--background-color);
}
.footer-bottom{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: var(--background-color);
color: var(--primary-color);
width: 100%;
}
.footer-bottom div{
margin: 10px 30px;
}
.footer-download-links{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: nowrap;
font-weight: bold;
}
.footer-download-links a img{
height: 30px;
border-radius: 5px;
}
.footer-social-links a svg{
height: 20px;
width: 20px;
padding: 10px;
border-radius: 10px;
background-color: #231f20;
color:#ffffff;
}
.menu-btn{
display: none;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a62121; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a62121; 
  }

  .hero-landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;
    background-color: #f9f9f9;
    overflow: hidden;
  }

  .hl1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 50%;
    color: #fff;
  }

  .hl1 h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    text-shadow: 0 0 3px #000;
  }

  .hl1 p {
    font-size: 1rem;
    color: #fff;
    margin-top: 10px;
    line-height: 1.5;
    text-shadow: 0 0 5px #000;
  }

  /* Search Section Styles */
  .th-search {
    width: 700px;
    background-color: #fff;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
  }

  .search-categ {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .category-btn {
    padding: 9px 14px;
    font-size: 1rem;
    background-color: #a62121;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  button:disabled{
    background-color: rgb(197, 197, 197);
    cursor: default;
  }
  button:disabled:hover{
    background-color: rgb(197, 197, 197);
  }
  .category-btn:hover {
    background-color: #8d1b1b;
  }

  .search {
    display: flex;
    flex-direction: column;
  }
  .search div{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   width: 100%;
    gap: 15px;
  }
  .aao {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    width: 33%;
margin-top: 15px;
  }
 #woooh{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 99%;
  font-size: 15px;
  overflow: hidden;
 }
 .woooh{
  max-height: 40px;
 }
 #locationInput{
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    width: 100%;
outline: none;
margin-bottom: 15px;
 }
#locationInput:focus{
border-color: #a62121;
}
  .aao:focus {
    border-color: #a62121;
    outline: none;
  }
  select {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }

  button[type="submit"] {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #a62121;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  button[type="submit"]:hover {
    background-color: #811c1c;
  }
#suggestions {
    list-style-type: none;
    padding: 0px;
    max-height: 400px;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
  }
  #suggestions li {
    padding: 8px;
    cursor: pointer;
    padding: 10px;
  }
  #suggestions li:hover {
    background-color: #f0f0f0;
  }
  .brdr{
    border-color: #a62121;
    max-height: 300px;
  }
  #nofi-c-badge{
    background-color: #a62121; 
    color: #fff; 
    border-radius: 50px; 
    padding: 2px 2px; 
    font-size: 9px;
margin-top: -15px;
margin-left: 12px;
position: absolute;
  }
.nav-menu{
display: none;
}

/* login signup modal */

.login-signup-modal {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.5);
    }
    #closeModal{
      padding: 10px;
    }
    .login-signup-form-container {
      background-color: white;
      max-width: 900px;
      max-height: 600px;
      margin: 40px auto;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      align-self: center;
      overflow: hidden;
    }
    .login-signup-form-container .img-slide{
    width: 66%;
    display: block;
    text-align: center;
    background-color: #a62121;
    overflow: hidden;
    }
    .login-signup-form-container .img-slide img{
      width: 100%;
      height: 600px;
      position: relative;
    }
    .login-signup-form{
      width: 33%;
      text-align: center;
      padding: 30px 20px;
      background-color: white;
    }
    .login-signup-form form{
      display: block;
    }
    .login-signup-form h2{
      padding: 10px;
      margin-bottom: 20px;
    }
    .login-signup-form p{
      margin: 10px;
    }
    .login-signup-form form p{
     display:block;
     text-align: left;
     margin: 0;
     font-size: .9rem;
    }
    .login-signup-form p button{
      background-color: transparent;
      color:#a62121;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .login-signup-form input[type="password"], input[type="text"] {
      padding: 12px 0px;
      font-size: 1rem;
      border: 2px solid #d8d8d8;
      border-radius: 5px;
      width: 98%;
      outline: none;
      margin-bottom: 15px;
      display: block;
    }
    .login-signup-form input:focus {
      border-color: #a62121;
    }
.login-signup-form input[type="checkbox"]{
  accent-color: #a62121;
  margin-right: 5px;
}
.login-signup-form a{
  color: #a62121;
  font-weight: bold;
  text-decoration: none;
}
#closeModal{
  position: absolute;
  right: 0;
  border: none;
  margin: 20px;
  background-color: white;
  padding: 9px 10px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.branding-logo{
  display: none;
}
.login-signup-form button[type="submit"]{
  padding: 12px 30px;
  width: 100%;
  margin: 20px 0;
}
   .not-in-use {
      display: none;
    }